:root {
    --main-blue: #87C1E0;
    --main-background: #03090D;
    --main-border: #233747;
    --kachel-background: #0A1420;
}

/* Basis-Styles */
html, body {
  height: 100% !important;
  margin: 0 !important;
  background-color: var(--main-background)!important;
}

.head {
    background-color: var(--kachel-background) !important;
    border-color: var(--main-border) !important;
}

.suchleiste {
    background-color: var(--main-background) !important;
    border-color: var(--main-border) !important;
    color: var(--main-blue) !important;
}

.suchleisteLabel {
    color: var(--main-blue) !important;
}

/*Modal background*/
.modal{
    background-color: var(--main-background) !important;
}

input[type="date"]{
    color-scheme: dark; /* macht das weiße Icon */
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* ab hier sachen für recent transactions. */
#transactionList li {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-bottom: 1px solid #222;
  color: white;
}

.left-text {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 1rem;
  font-weight: 600;
}

.date {
  font-size: 0.75rem;
  color: #4CAF50;
}

ul {
  max-height: 75vh;
  overflow-y: auto;
}/* bis hier */

/* ab hier sachen für financial overview. */
.financial-overview {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #fff;
  font-family: "Segoe UI", Roboto, sans-serif;
  padding: 4px 2px 4px 20px;
}

.overview-item {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.label {
  font-size: 0.85rem;
  color: #b0b8c1;
  margin-bottom: 2px;
}

.amount {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.change {
  font-size: 0.8rem;
  font-weight: 500;
}

.change.up {
  color: #4caf50;
}

.change.down {
  color: #f44336;
}/* bis hier */
