//Hauptfarben
$dark: #03090D;
$primary: #87C1E0;


//Search groeßen anpassungen
$form-floating-height: 2.5rem;
$form-floating-padding-x: 0.5rem;
$form-floating-label-transform: scale(.85) translateY(-.6rem) translateX(.15rem);
$form-floating-padding-y: 0.5rem;





@import "../node_modules/bootstrap/scss/bootstrap";