//Hauptfarben
$dark: #03090D;
$primary: #87C1E0;


//Search groeßen anpassungen
$form-floating-height: 2.5rem;
$form-floating-padding-x: 0.5rem;
$form-floating-label-transform: scale(.85) translateY(-.6rem) translateX(.15rem);
$form-floating-padding-y: 0.5rem;


// Daschbord Carten
$card-border-color: #87C1E0;
$card-bg: #0A1420;
$card-color: #FFFFFF;
$card-cap-color: #FFFFFF;

// Jahres übersicht
$btn-disabled-opacity: 1;

//Modal
$modal-content-color: #FFFFFF;
$modal-content-bg: #0A1420;
$modal-content-border-color: #87C1E0;
$modal-header-border-color: #87C1E0;

$input-color:   #a2a2a2;
$input-bg: #03090D;
$input-border-color: #87C1E0;

$btn-close-color: #FFFFFF;
$input-placeholder-color: #a2a2a2;

@import "../node_modules/bootstrap/scss/bootstrap.scss";